/*GRID*/
.grid-container {
  display: flex;
  margin-top: 2rem;
  grid-gap: 1rem;
}

.top {
  display: flex;
  width: 95%;
  border-radius: 2.5rem;
  margin-left: 3%;
  height: 2.8rem;
  background-color: #fefae0;
  margin-top: 1rem;
  justify-content: center;
}
header {
  align-items: center;
  display: flex;
  margin-top: 0;
  padding-top: 0;
}

h1 {
  color: #0c2d48;
  font-family: "doublebass", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.9rem;
}
.name {
  margin: 0;
  justify-content: left;
}
ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

li:hover {
  text-decoration: underline;
}

li {
  margin-inline: 1rem;
  text-decoration: none;
}

a {
  color: #0c2d48;
  text-decoration: none;
  font-size: 1rem;
}
h2 {
  text-align: center;
  font-family: "tiffin-latin-variable", sans-serif;
  font-variation-settings: "wght" 300;
  font-size: 5rem;
  color: rgb(208, 216, 192);
  margin-bottom: 7rem;
}
*img {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
}
body {
  background-color: #ccd5ae;
}
@media screen and (max-width: 500px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }
}
