/*GRID*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40rem 1fr;
  grid-gap: 1rem;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: slategray;
}

/*HEADER*/

.top {
  display: flex;
  width: 95%;
  border-radius: 2.5rem;
  margin-left: 3%;
  height: 2.8rem;
  background-color: #fefae0;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}
header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-top: 0;
  padding-top: 0;
}

h1 {
  color: #0c2d48;
  font-family: "doublebass", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.9rem;
}
.name {
  margin: 0;
}
ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

li:hover {
  text-decoration: underline;
}

li {
  margin-inline: 1rem;
  text-decoration: none;
}

a {
  color: #0c2d48;
  text-decoration: none;
  font-size: 1rem;
}

h2 {
  text-align: center;
  font-family: "tiffin-latin-variable", sans-serif;
  font-variation-settings: "wght" 300;
  font-size: 1.5rem;
  color: #0c2d48;
  margin-bottom: 1rem;
  margin-bottom: 2rem;
}

body {
  background-color: #ccd5ae;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 1.2rem;
  margin-left: 1.5rem;
}

form {
  font-size: 1.2rem;
  padding-left: 1.5rem;
}

p {
  font-size: 1.2rem;
  padding-left: 1.2rem;
}
input {
  margin-top: 0.5rem;
  height: 1.5rem;
  border-radius: 0.4rem;
}
.submitbutton {
  text-align: left;
  width: 6rem;
  text-align: center;
  height: 2rem;
  background-color: #0c2d48;
  color: white;
  border-radius: 0.8rem;
  border: #0c2d48;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  font-family: "tiffin-latin-variable", sans-serif;
  font-variation-settings: "wght" 400;
  animation-name: growButton;
  animation-duration: 1.5s;
}
.submitbutton:hover {
  animation: growButton 1.5s ease-in-out forwards;
}
@keyframes growButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

/* @keyframes shakyshaky {
  25% {
    transform: scale(1.2);
  }

  50% {
    transform: rotate(15deg) scale(1.2);
  }

  60% {
    transform: rotate(-15deg) scale(1.2);
  }

  70% {
    transform: rotate(15deg) scale(1.2);
  }
  80% {
    transform: rotate(-15deg) scale(1.2);
  }

  90% {
    transform: rotate(15deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  } */
/* } */
footer {
  padding-bottom: 1rem;
  background-color: #0c2d48;
  margin-top: 20rem;
}

footer p {
  color: rgb(161, 183, 206);
  font-size: 1rem;
  text-align: left;
  margin-left: 2rem;
}
footer h2 {
  padding-top: 2%;
  text-align: left;
  margin-left: 2rem;
  color: rgb(161, 183, 206);
}
