/*GRID*/
* {
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-item-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

/*HEADER*/

.top {
  display: flex;
  width: 95%;
  border-radius: 2.5rem;
  margin-left: 3%;
  height: 2.8rem;
  background-color: #fefae0;
  margin-top: 1rem;
  justify-content: center;
}
header {
  align-items: center;
  display: flex;
  margin-top: 0;
  padding-top: 0;
}

h1 {
  color: #0c2d48;
  font-family: "doublebass", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.9rem;
}
.name {
  margin: 0;
  margin-right: left;
}
ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

li:hover {
  text-decoration: underline;
}

li {
  margin-inline: 1rem;
  text-decoration: none;
}

a {
  color: #0c2d48;
  text-decoration: none;
  font-size: 1rem;
}
h2 {
  text-align: center;
  font-family: "tiffin-latin-variable", sans-serif;
  font-variation-settings: "wght" 300;
  font-size: 1.5rem;
  color: #0c2d48;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
/*MAIN*/
img {
  margin-left: 2rem;
  margin-right: 1rem;
  width: 100%;
  max-height: 400px;

  margin-top: 2rem;
}
.grid-container {
  display: flex;
  column-gap: 1rem;
}

body {
  background-color: #ccd5ae;
}

p {
  font-size: 1rem;
  margin-left: 0%;
  margin-right: 2rem;
  margin-top: 2rem;
}

footer {
  margin-top: 3rem;
  padding-top: 2%;
  padding-bottom: 1rem;
  background-color: #0c2d48;
}

footer p {
  color: #fefae0;
  font-size: 1rem;
  text-align: left;
  margin-left: 2rem;
}
footer h2 {
  text-align: left;
  margin-bottom: 0;
  margin-left: 2rem;
  color: #fefae0;
}
