/*GRID*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3px;
}
/* 3 columns regular layout*/
.column {
  flex: 305%;
  max-width: 32.5%;
  padding: 0 3px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/*Layuout has two columns*/
@media screen and (max-width: 800px) {
  .column {
    flex: 40%;
    max-width: 45%;
  }
}
/* One column images stacked*/
@media screen and (max-width: 500px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

header {
  background-color: slategray;
  margin-top: 0;
  padding-top: 0;
}

p {
  font-size: 1.5rem;
  color: slategray;
  text-align: center;
}

.jazz {
  font-size: 3rem;
  color: slategray;
  padding-left: 10%;
}

h1 {
  color: #0c2d48;
  margin-bottom: 1rem;
  margin-top: 0;
  font-family: "doublebass", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-top: 2%;
  font-size: 1.8rem;
  text-align: center;
}
h2 {
  text-align: center;
  justify-content: center;
  font-family: "tiffin-latin-variable", sans-serif;
  font-variation-settings: "wght" 300;
  font-size: 1.5rem;
  color: #0c2d48;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}

li {
  margin-inline: 2rem;
}

a {
  color: #0c2d48;
  font-size: 0.9rem;
}

body {
  background-color: #f7edd0;
  margin: 0;
}

img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

*img :hover {
  opacity: 50%;
}

footer {
  margin-top: 3rem;
  padding-top: 2%;
  padding-bottom: 1rem;
  background-color: #0c2d48;
}

footer p {
  color: rgb(161, 183, 206);
  font-size: 1rem;
  text-align: left;
  margin-left: 2rem;
}
footer h2 {
  text-align: left;
  margin-left: 2rem;
  color: rgb(161, 183, 206);
}
