/*GRID*/
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40rem 1fr;
    grid-gap: 1rem;
}

.grid-item-1
{grid-column-start: 1; grid-column-end: 3;
grid-row-start: 1; grid-row-end: 2;
background-color: slategray;
}

/*HEADER*/

h1 {color: rgb(208, 216, 192) ;
    margin-left: auto; margin-right: auto; width: fit-content;
    margin-bottom: 1rem;
    font-family: "doublebass", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 8rem;}

h2 {
    text-align: center;
    font-family: "tiffin-latin-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-size: 5rem;
    color: rgb(208, 216, 192) ;
    margin-bottom: 7rem;
    }
        



li { 
    margin-inline: 13rem;
}

a  { 
    color: rgb(208, 216, 192) ;
    font-size: 4rem;
}
  


body {background-color: #fefae0;}

 
h3 {font-size: 4rem;
padding-left: 2rem;}

ul {
    list-style: none;
    padding-left: 2%;
    display: flex;
    margin-left: 15%;
    margin-bottom: 5rem;
}


form {
font-size: 300%;
padding-left: 2rem;}

p{ font-size: 4rem;
padding-left: 5%;}


.button {
    height: 6rem;
    width: 10rem;
    font-size: 20%;
}