/*GRID*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40rem 1fr;
  grid-gap: 1rem;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: slategray;
}

.grid-item-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.grid-item-3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

/*HEADER*/

h1 {
  color: rgb(208, 216, 192);
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-bottom: 1rem;
  font-family: "doublebass", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 8rem;
}

h2 {
  text-align: center;
  font-family: "tiffin-latin-variable", sans-serif;
  font-variation-settings: "wght" 300;
  font-size: 5rem;
  color: rgb(208, 216, 192);
  margin-bottom: 7rem;
}

ul {
  list-style: none;
  padding-left: 2%;
  display: flex;
  margin-left: 45%;
  margin-bottom: 5rem;
}

li {
  margin-inline: 13rem;
}

a {
  color: rgb(208, 216, 192);
  font-size: 4rem;
}

/*MAIN*/
img {
  display: block;
  margin-left: 15rem;
  margin-right: 2rem;
  width: 70%;
  margin-top: 2rem;
}

body {
  background-color: #fefae0;
}

p {
  font-size: 3.3rem;
  margin-left: 0%;
  margin-right: 15rem;
}
