* {font-family: 'Roboto Slab', serif;}
body {background-color: rgb(208, 216, 192);}

.grid-container {
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 280px 200px 2000px;
   grid-gap: 1rem;
}

.grid-item-1
{grid-column-start: 1; grid-column-end: 2;
grid-row-start: 1; grid-row-end: 2;}

.grid-item-2
{ grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    }

.grid-item-3
{ grid-column-start: 1; grid-column-end: 5;
    grid-row-start: 2; grid-row-end: 3;
   
}

.grid-item-4
{ grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
   }
.grid-item-5
{ grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

a{ color: darkolivegreen;}

h1 {
    margin: right 100px;
    color: darkolivegreen;
    font-size: 500%;
padding-inline-start: 25rem;}

h2{ text-align: center;
   font-size: xx-large;
   font-size: 450%;}

 
h3 {font-size: 350%;}
ul {
            list-style: none;
            padding-left: 10%;
            font-size: 300%;
            color: darkolivegreen;}



form {
font-size: 300%;
padding-left: 2rem;}

p{ font-size: 4rem;
padding-left: 5%;}


.button {
    height: 6rem;
    width: 10rem;
    font-size: 20%;
}