* {font-family: 'Roboto Slab', serif;}

ul {
list-style: none;
padding-left: 2%;}

a{ color: darkolivegreen;}
h1 {color: darkolivegreen;
margin-left: auto; margin-right: auto; width: fit-content;
    font-size: 500%;}

img {width: 1000px;  }
img {
   display: block; margin-left: auto; margin-right: auto; width: 50%
    ;}

    body {background-color: rgb(208, 216, 192);}

   h2 {font-size: 300%;} p {font-size: 200%;} ul {font-size: 300%;}

   .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
   }